@import "../Utils/variables";
@import "../Utils/mixins";
@import "../Base/fonts-all";

// =========INDEX=========
// HEADER
.pr_header{
    padding: 20px 25px 10px 25px;
    display: flex;
    align-items: center;
    &__logo{
        margin: auto;
    }
    &__back{
        font-size: 20px;
    }
}

.pr_img{
    max-height: 250px;
    width: 100%;
    object-fit: cover;
}

//MAIN
.pr_main{
    margin-top: -30px;
    position: relative;
    border-radius: 30px 30px 0 0;
    background-color: #f6f6f6;
    padding: 35px 15px 80px 15px;
    &__header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 45px;
        &__title{
            font-family: 'Shrikhand', sans-serif;
        }
    }
}

.dishes{
    padding-bottom: 40px;
    &__header{
        margin-bottom: 25px;
    }
    &__card{
        background-color: white;
        padding: 15px 10px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        border-radius: 10px;
        margin-bottom: 15px;
        @include shadow;
    }
}

